<?xml version="1.0" encoding="UTF-8" ?>
<!--修改id-->
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "cn.yogeek.flappybird"
    versionCode = "10"
    version     = "1.0.0" >
 
<!--APP的名称-->
  <name>像素鸟@极客少年</name>
<!--APP的描述-->
  <description>
      像素鸟@极客少年
  </description>
<!--APP的作者-->
  <author href="https://edu.yogeek.cn" email="50599476@qq.com">
      极客少年
  </author>
<!--APP的图片-->
  <icon src='ico.png' />
 
</widget>

作者：少儿编程乔老师
链接：https://www.zhihu.com/question/55317403/answer/1125702422
来源：知乎
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。